<%- include('../includes/header.ejs') %>
<<<<<<< HEAD
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% prods.forEach(product => { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>" alt="book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.price %></h2>
                            <p class="product__description"><%= product__description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product.id %>" class="button">Details</a>
                        </div>
                    </article>
              <%  }) %>
            </div>
      <%  }  else { %>
            <h1>No Products Found!</h1>
    <%  } %>
    <%- include('../includes/footer.ejs') %>
=======
<body>
    <%- include('../includes/navigation.ejs') %>
<main>
    <form class="product-form" action="/admin/edit-products" method="post">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= product.title %>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <<input type="text" name="imageUrl" id="imageUrl" value="<%= product.imageUrl %>">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"><%= product.description %></textarea>
        </div>
        <input type="hidden" value="<%= product.id %>" name="productId">
        <button class="button" type="submit">Update Product</button>
    </form>
</main>
<%- include('../includes/footer.ejs') %>
>>>>>>> 61e6efb3851d12d120f3d6bab4dff52865d7f160
